<!-- <h1> App Component is here !</h1> -->
<!-- <app-servers></app-servers> -->
<!-- <div app-servers></div> -->
<!-- <div class="app-servers"></div> -->
<!-- <app-server></app-server> -->
<!-- <app-servers></app-servers> -->
<!-- <app-success-alert></app-success-alert>-->
<!-- <app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert> -->

<!-- //MAIN -->




<!--
<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row"><div class="col-md-12">
     <app-recipes *ngIf = "loadedFeature === 'recipe' "></app-recipes>
    <app-shopping-list *ngIf = "loadedFeature !== 'recipe' "></app-shopping-list>
  </div></div>
</div>
 -->




<!-- <div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)"
  (bpCreated)=" onBlueprintAdded($event)"
  ></app-cockpit>
 <hr>
  <div class="row">
    <div class="col-xs-12">
<app-server-element *ngFor = "let serverElement of serverElements"
[srvElement] = "serverElement">
<p>
  <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
  <em *ngIf="serverElement.type === 'blueprint'">{{serverElement.content }}</em>
</p>
</app-server-element>
  </div>
</div>
</div>


<!-- <h2> Assignment 3</h2>
<div class="row">
  <div class="col-xs-12">
    <app-game-control (interval_fired)="onIntervalFired($event)"></app-game-control>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-odd *ngFor = "let oddNumber of oddNumbers" [number] = "oddNumber"></app-odd>
    <app-even *ngFor = "let evenNumber of evenNumbers" [eveNumber] = "evenNumber"></app-even>
  </div>
</div> -->


<!-- <h1> This is App componenet</h1> -->
<!-- <app-sec7></app-sec7> -->

<app-cwh></app-cwh>
